@import url('https://fonts.googleapis.com/css?family=Roboto:900&display=swap');

.branding {
    position: relative;
    padding: 0 !important;
    margin: 0 !important;
}

.branding p {
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
}

.branding a {
    padding: 0 !important;
    margin: 0 !important;
}

.branding strong {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}